{% extends "base.html.twig" %}
{% block body %}
	{% block bodyheader %}
		<div>
			{% include 'displayerror.html.twig' %}
		</div>
		{% if app.request.get('searchby')%}
			{% if categories is empty %}
				<h1>Brak wyników dla:
					{{app.request.query.get('searchby')}}</h1>
			{% else %}
				<h1>Wyniki wyszukiwania dla:
					{{app.request.query.get('searchby')}}</h1>
			{% endif %}
		{% else %}
			<h1>
				Aktywne kategorie
			</h1>
		{% endif %}

		{% if is_granted('ROLE_ADMIN') %}
			<div class="row m-3">
				<a href={{path('admin_category_create')}}>
					<button class="btn btn-info btn-lg">
						Stwórz kategorię</button>
				</a>
			</div>
		{% endif %}

	{% endblock %}
	{% block bodycontent %}
		<div class="container">
		{% for category in categories %}
	
				<div class="card mb-2 p-2">
					<div class="row">
						<div class="card-title col-8 h3 ml-2">
                        <a href ="{{path('post_display',{'categoryname':category.name|lower,'id':category.id })}}" class="text-reset text-decoration-none">
                            {{ category.name }}
                        </a>
						</div>
						<div class="cart-num-post col-4 mt-2">
							Liczba postów: <b>{{ category.sum_post}}</b>
						</div>
					</div>
					<div class="row">
						<div class="cart-content col-8 mb-2">
							{{ category.description }}
						</div>

						<div class="cart-info col-4">
							Ostatni wpis: <b>{{ category.created|ago }}</b> 
                            </br>
                            przez:{{category.user_name}}
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							{% if is_granted('ROLE_ADMIN') %}

								ID Kategorii:
								{{ category.id }}
								<a onclick="return confirm('Czy na pewno usunąć kategorię?')" href="{{ path('admin_category_delete',{'id':category.id})}}">
									<span class="close">
										<button class="btn btn-danger">
											Usuń</button>
									</span>
								</a>

							{% endif %}
						</div>
						<div class="col-4">
						
						</div>
					</div>
				</div>
			
		{% endfor %}
        </div>
		<div class="navigation">
			{{ knp_pagination_render(categories)}}
		</div>

	{% endblock %}
{% endblock %}
