{% extends "base.html.twig" %}
{% block body %}
    <div>
        {% include 'displayerror.html.twig' %}
    </div>
        {% if app.request.get('searchby')%} 
            {% if categories is empty %}
                <h2>Brak wyników dla: {{app.request.query.get('searchby')}}</h2>
            {% else %}
                <h2>Wyniki wyszukiwania dla: {{app.request.query.get('searchby')}}</h2>
            {% endif %}
        {% else %}
            <h2> Wszystkie kategorie </h2>
        {% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th scope="col">Id</th>
                            {% endif %}
                        <th scope="col">Nazwa</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th scope="col">Usuń</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for category in categories %}
                    <tr>
                    <th scope="row"></th>
                        {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            {{ category.id }}
                        </td>
                        {% endif %}
                        <td>
                            {{ category.name }}
                        </td>

                        {% if is_granted('ROLE_ADMIN') %}
                        <td> 
                            <a onclick="return confirm('Czy na pewno usunąć kategorię?')" href ="{{ path('admin_category_delete',{'id':category.id})}}"><span class="close">X</span></a>
                        </td>
                        {% endif %}
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    <div class="navigation">
        {{ knp_pagination_render(categories)}}
    </div>

 {% endblock %}